/* Colores: 2dc5a4, 00a682, FFCC4E, 292929 */

* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Questrial';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #F3F3F3;
}

body h1 {
  font-family: 'Pacifico', cursive;
}

body input:focus,
textarea:focus {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* PAGINA DE INGRESO */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#ingreso {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(45, 197, 164);
  background: radial-gradient(circle, rgba(45, 197, 164, 1) 10%, rgba(0, 150, 118, 1) 100%);
  color: #fff;
}

#ingresoh1 {
  font-size: clamp(2rem, 5.3vw - 0.3rem, 3rem);
}

#borde-top {
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #292929;
  position: absolute;
  --mask:
    linear-gradient(to top, #0000 51px, #000 0),
    radial-gradient(51px, #000 98%, #0000) bottom/94.35px 102px;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

#borde-bot {
  bottom: 0;
  height: 80px;
  width: 100%;
  background-color: #292929;
  position: absolute;
  --mask:
    linear-gradient(to bottom, #0000 51px, #000 0),
    radial-gradient(51px, #000 98%, #0000) top/94.35px 102px;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

#boton-conocer {
  border: none;
  color: #ffffff;
  background-color: #FFCC4E;
  width: 50%;
  border-radius: 6px 6px 6px 6px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-weight: 600;
  font-size: x-large;
  margin-top: 40px;
  margin-bottom: 50px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow
}

#boton-conocer:hover {
  background-color: #e0a000;
}

#boton-conocer:active {
  background-color: #e0a000;
  box-shadow: 2px 2px 4px 0px #0220338e inset;
}

#divisor-l {
  display: inline;
  height: 0px;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 45%;
  margin-right: 5%;
  border: none;
  border-bottom: solid 2px #f5f5f5;
  border-radius: 0% 100% 0% 100%;
}

#divisor-r {
  display: inline;
  height: 0px;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 45%;
  margin-left: 5%;
  border: none;
  border-bottom: solid 2px #f5f5f5;
  border-radius: 100% 0% 100% 0%;
}

#ingresoh1 {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}

#ingresoh3 {
  margin-top: 0;
  text-align: center;
}

#formulario-login {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

#formulario-login input {
  padding-bottom: 2%;
  padding-top: 2%;
  display: block;
  border: none;
  border-bottom: 2px solid #FFCC4E;
  margin-bottom: 20px;
  font-size: large;
  background: none;
  color: #f5f5f5;
}

#formulario-login input:focus {
  outline: solid 2px #f5f5f594;
  border-radius: 2px 2px 2px 2px;
}

#formulario-login .error-message {
  position: relative;
  height: 40px;
  width: 100%;
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.boton-submit {
  border: none;
  width: 80px;
  display: block;
  background-color: #FFCC4E;
  color: #f5f5f5;
  padding: 6px;
  border-radius: 5px 15px 5px 5px;
  font-weight: 600;
  font-size: medium;
  cursor: pointer;
  transition: background-color 0.2s
}

.boton-submit:hover {
  background-color: #e0a000;
}

.boton-submit:active {
  background-color: #cc9200;
  box-shadow: 2px 2px 4px 0px #0220338e inset;
}

.boton-cancelar {
  border: none;
  width: 80px;
  display: block;
  float: right;
  background-color: #ff301e;
  color: #f5f5f5;
  padding: 6px;
  border-radius: 15px 5px 5px 5px;
  font-weight: 600;
  font-size: medium;
  cursor: pointer;
  transition: background-color 0.2s
}

.boton-cancelar:hover {
  background-color: #d91c0b;
}

.boton-cancelar:active {
  background-color: #c11607;
  box-shadow: 2px 2px 4px 0px #0220338e inset;
}


/* */

/* NAVBAR */
#navbar {
  position: absolute;
  top: 0;
  height: 8vh;
  width: 100vw;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: #292929;
}

.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.navbar .col {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.boton-ch {
  position: absolute;
  left: 0;
  padding-left: 40px;
  font-size: x-large;
  color: #fff;
  transition: font-size 0.5s;
  text-decoration: none;
  font-family: 'Pacifico', cursive;
}

.boton-ch:hover {
  font-size: 28px;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.2s;
}

.navbar a:hover {
  color: #FFCC4E
}

.navbar a:active {
  color: #cf990f
}

/* */

/* MENU HORIZONTAL CELULAR */
#navbar-horizontal {
  width: 100vw;
  height: 70px;
  position: fixed;
  z-index: 8;
  background-color: #292929;
}

.navbar-horizontal-content {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-horizontal-content button {
  position: absolute;
  margin-right: 40px;
  right: 0;
  background: none;
  border: none;
  color: #fff;
}


.navbar-horizontal-content .boton {
  font-size: large;
  transition: transform 0.5s;
}

.navbar-horizontal-content .boton-onclick {
  font-size: large;
  transform: rotate(-180deg);
  transition: transform 0.5s;
}


.menu-horizontal {
  margin-top: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background-color: #292929;
  border-top: solid 5px #FFCC4E;
  z-index: 50;
  row-gap: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.menu-horizontal a {
  margin: 0;
  font-size: large;
  color: #fff;
  text-decoration: none;
}

.menu-horizontal a:active {
  color: #8d8d8d;
}

/*  */

/* SIDEBAR */
#sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  color: rgb(255, 255, 255);
  z-index: 8;
}

.ps-sidebar-root {
  height: 100vh;
}

.ps-submenu-content li {
  background-color: #FFCC4E;
  font-size: small;
  font-weight: 600;
  color: #000000;
}

.ps-menu-button {
  margin: 0;
}

.ps-menu-button:hover {
  background-color: #cf990f;
}

.ps-submenu-content li:hover {
  background-color: #e4b338;
}

#item-menu {
  margin: 0;
  transition: background-color 0.5s, color 0.1s;
  font-size: large;
}

#item-menu:hover {
  background-color: #1a1a1a;
  color: #fff;
  border-left: solid 7px #FFCC4E;
}

.menuitem {
  margin: 0;
  background-color: #ffffff;
  color: #2e2e2e;
}

.boton-logout {
  color: #ffffff;
  border: none;
  background: none;
  transition: color 0.1s;
}


/* */

/* BANNER BIENVENIDA ADM */
#banner-bienvenida-adm {
  max-width: 1000px;
  padding-top: 50px;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#banner-bienvenida-adm * {
  margin-bottom: 10px;
}

#banner-bienvenida-adm .row {
  gap: 30px;
}

#banner-bienvenida-adm .col p {
  font-family: 'Questrial', sans-serif;
  font-size: clamp(1rem, 2.7vw - 0.2rem, 1.5rem);
  color: #ffffff;
  text-align: center;
  border: solid 4px;
  border-radius: 70px 70px 0 70px;
  border-color: #292929;
  background-color: #292929;
  padding: 35px;
  transition: background-color 0.2s;
}

#banner-bienvenida-adm .col p:hover {
  background-color: #2dc5a4;
}

#banner-bienvenida-adm .col p:active {
  background-color: #2dc5a4;
}


#banner-bienvenida-adm .col h1 {
  font-family: 'Pacifico', cursive;
  font-size: clamp(2rem, 5.3vw - 0.3rem, 3rem);
  color: #2dc5a4;
  text-align: center;
}

/*  */

/* LISTA DE MASCOTAS */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

#formulario-mascota {
  display: flex;
  flex-direction: column;
  font-size: large;
  padding: 20px;
  border-radius: 5px 5px 5px 5px;
  background-color: #fff;
  margin-left: 20px;
  margin-right: 20px;
}

#formulario-mascota h1 {
  color: #2dc5a4;
  margin-bottom: 10px;
}

#formulario-mascota input,
textarea,
select {
  margin-bottom: 10px;
  font-size: medium;
}

#formulario-mascota textarea {
  resize: vertical;
  height: 250px;
}

.formulario-editar * {
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin-bottom: 8px;
  font-family: Arial, Helvetica, sans-serif;
}

.formulario-editar p {
  margin: 0;
  justify-content: initial;
  display: flex
}

.formulario-editar textarea {
  resize: none;
  height: 130px;
  font-size: 14px;
  width: 100%;
}

#display-de-mascota {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#carta-mascota {
  width: 100%;
  margin: 20px;
  height: 380px;
  background: #f8f8f8;
  border-radius: 4px 4px 4px 4px;
}

#carta-mascota-nueva {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px;
  height: 380px;
  background: rgb(228, 228, 228);
  border-radius: 8px 8px 8px 8px;
}

.boton-adoptar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #292929;
  height: 13%;
  border-radius: 0px 0px 8px 8px;
  margin: 0;
  color: #f5f5f5;
  cursor: pointer;
  font-size: large;
  transition: background-color 0.2s, font-size 0.4s;
}

.boton-adoptar:hover {
  background-color: #2dc5a4;
  font-size: x-large;
}

/* */

/* MODAL */
.modal {
  opacity: 0;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  animation: fadeIn 0.2s ease 0.2s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal-content {
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: max-content;
  overflow: auto;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: gray;
  cursor: pointer;
}

/* */

/* FORMULARIO ADOPCION */
#formulario-adopcion {
  margin-top: 50px;
}

#formulario-adopcion select {
  max-width: 200px;
}

#formulario-adopcion * {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 20px;
}

#formulario-adopcion h1 {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: clamp(3rem, -5.3vw + 5.3rem, 2rem);
  color: #2dc5a4
}

#formulario-adopcion p {
  line-height: 18px;
}

#formulario-adopcion h3 {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large
}

#formulario-adopcion label {
  font-size: medium;
  width: 100%;
}

#formulario-adopcion input {
  font-size: medium;
  border: none;
  border-bottom: solid 1px rgb(0, 0, 0)
}

#formulario-adopcion textarea {
  resize: none;
  height: 300px;
  width: 100%;
  font-size: medium;
}

/* */

/* REGISTRO ADOPCIONES */
#container-adopciones {
  padding-top: 70px;
}

#container-adopciones p {
  font-family: Arial, Helvetica, sans-serif;
}

.container-registros {
  background-color: #f5f5f5;
  width: 100%;
  padding-top: 0;
  height: min-content;
  padding-bottom: 35px;
}

.fila-datos {
  border-radius: 5px 5px 0 0;
  text-align: left;
  background-color: #FFCC4E;
  font-weight: 600;
  color: #f5f5f5;
  padding-top: 10px;
  padding-bottom: 10px;
}

.fila-registro {
  text-align: left;
  border-bottom: solid 1px #c9c9c954;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: small;
}

.fila-registro:hover {
  background-color: #ececec82
}

.container-wrap-datos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 12px;
}

#resgitro-adoptados-cargando {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center
}

/*  */

/* INICIO UB */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

#container-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-image: url('./assets/banner1.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 150px));
}

.contenido-banner {
  display: inline-grid;
}

.contenido-banner * {
  margin-bottom: 10px;
  font-family: 'Questrial';
}

.contenido-banner h1 {
  background-color: #00000063;
  font-size: 3rem;
  border: solid 6px #292929;
  padding: 16px;
}

.contenido-banner p {
  font-size: clamp(1rem, 4.3vw - 0.9rem, 1.8rem);
  font-family: 'Courier Prime', monospace;
  overflow: hidden;
  border-right: .15em solid rgb(255, 255, 255);
  white-space: nowrap;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
  max-width: fit-content;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: #FFCC4E;
  }
}

#container-mision {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
}

#container-mision h1 {
  color: #2dc5a4;
  font-family: 'Pacifico', cursive;
  font-size: clamp(1.8rem, 6.4vw - 1rem, 3rem);
  margin-bottom: 20px;
}

#container-mision p {
  line-height: 28px;
  font-size: clamp(1.1rem, 2.1vw + 0.2rem, 1.5rem);
  font-family: 'Questrial', sans-serif;
}

#mural-adoptados {
  background-image: url('./assets/pattern.png');
  height: max-content;
  padding-bottom: 80px;
  padding-top: 80px;
  --mask:
    radial-gradient(43.50px at 50% 61.50px, #000 99%, #0000 101%) calc(50% - 60px) 0/120px 51% repeat-x,
    radial-gradient(43.50px at 50% -31.5px, #0000 99%, #000 101%) 50% 30px/120px calc(51% - 30px) repeat-x,
    radial-gradient(43.50px at 50% calc(100% - 61.50px), #000 99%, #0000 101%) calc(50% - 60px) 100%/120px 51% repeat-x,
    radial-gradient(43.50px at 50% calc(100% + 31.50px), #0000 99%, #000 101%) 50% calc(100% - 30px)/120px calc(51% - 30px) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.mural-adoptados {
  height: max-content;
  padding-top: 50px;
  padding-bottom: 50px;
}

.mural-adoptados h1 {
  padding-bottom: 50px;
  font-size: clamp(1.8rem, 6.4vw - 1rem, 3rem);
}

/* */

/* BOTONERA DE ACCIONES */
#botonera-de-acciones,
a {
  height: max-content;
  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botonera-de-acciones-content .row {
  height: 40vh;
  gap: 20px;
  height: max-content;
}

.botonera-de-acciones-content .col {
  text-transform: uppercase;
  padding: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #2dc5a4;
  border-radius: 50px 50px 0 50px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: solid 7px #292929;
  box-shadow: 200px 200px 400px 200px rgba(0, 0, 0, 0.56) inset;
  -webkit-box-shadow: 200px 200px 400px 200px rgba(0, 0, 0, 0.56) inset;
  -moz-box-shadow: 200px 200px 400px 200px rgba(0, 0, 0, 0.56) inset;
  transition: box-shadow 0.2s, border 0.2s;
}

.botonera-de-acciones-content .col:hover {
  border: solid 7px #20d9b1;
  box-shadow: 200px 200px 400px 200px rgba(0, 0, 0, 0.19) inset;
  -webkit-box-shadow: 200px 200px 400px 200px rgba(0, 0, 0, 0.19) inset;
  -moz-box-shadow: 200px 200px 400px 200px rgba(0, 0, 0, 0.19) inset;
}

.botonera-de-acciones-content .col:active {
  box-shadow: 200px 200px 400px 200px rgba(0, 0, 0, 0.56) inset;
  -webkit-box-shadow: 200px 200px 400px 200px rgba(0, 0, 0, 0.56) inset;
  -moz-box-shadow: 200px 200px 400px 200px rgba(0, 0, 0, 0.56) inset;
}

.botonera-de-acciones-content a {
  text-decoration: none;
}

.botonera-de-acciones-content .col p {
  color: #ffffff;
  font-size: clamp(1rem, 1.1vw + 0.5rem, 1.2rem);
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*  */

/* DONACIONES */
#container-donaciones {
  height: 80vh;
  text-align: center;
  font-size: large;
}

#container-donaciones-mq {
  padding-top: 80px;
  height: 100vh;
  text-align: center;
  font-size: large;
}


.donaciones-links {
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center
}

.donaciones-links-mq {
  display: flex;
  justify-content: center;
  align-items: center
}

.donaciones-links .row,
.donaciones-links-mq .row {
  margin-top: 40px;
  gap: 10px;
  width: 80%;
}

.donaciones-links .col,
.donaciones-links-mq .col {
  margin: 0;
  width: 100%;
  font-size: 2em;
  font-weight: 600;
  color: #ffffff;
  height: 100px;
  background-color: #2dc5a4;
  border-radius: 50px 50px 50px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: background-color 0.1s;
}

.donaciones-links .col:hover,
.donaciones-links-mq .col:hover {
  background-color: #0da785;
}

.donaciones-links p,
.donaciones-links-mq p {
  font-family: 'Questrial';
  font-size: clamp(1.4rem, 3.2vw + 0rem, 2rem);
}

/*  */

/* FOOTER */
#footer {
  left: 0;
  bottom: 0;
  color: #fff;
  justify-content: center;
  background-color: #292929;
  height: max-content;
  padding-top: 20px;
}

.footer-content h3 {
  color: #2dc5a4;
}

.footer-content .col {
  margin-bottom: 20px;
}

.footer-content .col a {
  margin: 0;
  display: block;
  text-decoration: none;
  color: #fff;
}

.footer-content .col span {
  margin-bottom: 2px;
  gap: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/*  */