/* Colores: 2dc5a4, 00a682, FFCC4E, 292929 */
:root {
  --color-primary: #2dc5a4;
  --color-secondary: #00a682;
  --color-accent: #ffcc4e;
  --color-dark: #292929;
}

* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Questrial";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f3f3f3;
  box-sizing: border-box;
}

body h1 {
  font-family: "Pacifico", cursive;
}

body input:focus,
textarea:focus {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin: 0;
}

/* PAGINA DE INGRESO */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.ingreso {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/6d/Boston_Public_Garden_May_2018_006.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
}

.ingresoh1 {
  font-size: clamp(2rem, 5.3vw - 0.3rem, 3rem);
}

.ingreso > div {
  padding: 50px;
  backdrop-filter: blur(9px) saturate(165%);
  -webkit-backdrop-filter: blur(9px) saturate(165%);
  background-color: rgba(101, 101, 101, 0.282);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.18);
}

#divisor-l {
  display: inline;
  height: 0px;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 45%;
  margin-right: 5%;
  border: none;
  border-bottom: solid 2px #f5f5f5;
  border-radius: 0% 100% 0% 100%;
}

#divisor-r {
  display: inline;
  height: 0px;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 45%;
  margin-left: 5%;
  border: none;
  border-bottom: solid 2px #f5f5f5;
  border-radius: 100% 0% 100% 0%;
}

#ingresoh1 {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}

#ingresoh3 {
  margin-top: 0;
  text-align: center;
}

.formulario-login {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.formulario-login input {
  padding-bottom: 2%;
  padding-top: 2%;
  display: block;
  border: none;
  border-bottom: 2px solid #ffcc4e;
  margin-bottom: 20px;
  font-size: large;
  background: none;
  color: #f5f5f5;
}

.formulario-login input:focus {
  outline: solid 2px #f5f5f594;
  border-radius: 2px 2px 2px 2px;
}

.formulario-login .error-message {
  position: relative;
  height: 40px;
  width: 100%;
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.boton-cancelar {
  border: none;
  width: 80px;
  display: block;
  float: right;
  background-color: #ff301e;
  color: #f5f5f5;
  padding: 6px;
  border-radius: 15px 5px 5px 5px;
  font-weight: 600;
  font-size: medium;
  cursor: pointer;
  transition: background-color 0.2s;
}

.boton-cancelar:hover {
  background-color: #d91c0b;
}

.boton-cancelar:active {
  background-color: #c11607;
  box-shadow: 2px 2px 4px 0px #0220338e inset;
}

/* */

/* NAVBAR */
#navbar {
  position: absolute;
  top: 0;
  height: 8vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: #292929;
}

.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.navbar .col {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.boton-ch {
  position: absolute;
  left: 0;
  padding-left: 40px;
  font-size: x-large;
  color: #fff;
  text-decoration: none;
  font-family: "Pacifico", cursive;
  overflow: hidden;
  transition: transform 0.5s;
}

.boton-ch:hover {
  text-decoration: none;
  transform: scale(1.2);
  transition: transform 0.5s;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.2s;
}

.navbar a:hover {
  color: #ffcc4e;
}

.navbar a:active {
  color: #cf990f;
}

/* */

/* MENU HORIZONTAL CELULAR */
#navbar-horizontal {
  width: 100vw;
  height: 70px;
  position: fixed;
  z-index: 8;
  background-color: #292929;
}

.navbar-horizontal-content {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-horizontal-content button {
  position: absolute;
  margin-right: 40px;
  right: 0;
  background: none;
  border: none;
  color: #fff;
}

.navbar-horizontal-content .boton {
  font-size: large;
  transition: transform 0.5s;
}

.navbar-horizontal-content .boton-onclick {
  font-size: large;
  transform: rotate(-180deg);
  transition: transform 0.5s;
}

.menu-horizontal {
  margin-top: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background-color: #292929;
  border-top: solid 5px #ffcc4e;
  z-index: 50;
  row-gap: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.menu-horizontal a {
  margin: 0;
  font-size: large;
  color: #fff;
  text-decoration: none;
}

.menu-horizontal a:active {
  color: #8d8d8d;
}

/*  */

/* SIDEBAR */
#sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  color: rgb(255, 255, 255);
  z-index: 8;
}

.ps-sidebar-root {
  height: 100vh;
}

.ps-submenu-content li {
  background-color: #ffcc4e;
  font-size: small;
  font-weight: 600;
  color: #000000;
}

.ps-menu-button {
  margin: 0;
}

.ps-menu-button:hover {
  background-color: #cf990f;
}

.ps-submenu-content li:hover {
  background-color: #e4b338;
}

#item-menu {
  margin: 0;
  transition: background-color 0.5s, color 0.1s;
  font-size: large;
}

#item-menu:hover {
  background-color: #1a1a1a;
  color: #fff;
  border-left: solid 7px #ffcc4e;
}

.menuitem {
  margin: 0;
  background-color: #ffffff;
  color: #2e2e2e;
}

.boton-logout {
  color: #ffffff;
  border: none;
  background: none;
  transition: color 0.1s;
}

/* */

/* BANNER BIENVENIDA ADM */
#banner-bienvenida-adm {
  max-width: 1000px;
  padding-top: 50px;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#banner-bienvenida-adm * {
  margin-bottom: 10px;
}

#banner-bienvenida-adm .row {
  gap: 30px;
}

#banner-bienvenida-adm .col p {
  font-family: "Questrial", sans-serif;
  font-size: clamp(1rem, 2.7vw - 0.2rem, 1.5rem);
  color: #ffffff;
  text-align: center;
  border: solid 4px;
  border-radius: 70px 70px 0 70px;
  border-color: #292929;
  background-color: #292929;
  padding: 35px;
  transition: background-color 0.2s;
}

#banner-bienvenida-adm .col p:hover {
  background-color: var(--color-primary);
}

#banner-bienvenida-adm .col p:active {
  background-color: var(--color-primary);
}

#banner-bienvenida-adm .col h1 {
  font-family: "Pacifico", cursive;
  font-size: clamp(2rem, 5.3vw - 0.3rem, 3rem);
  color: var(--color-primary);
  text-align: center;
}

/*  */

/* LISTA DE MASCOTAS */
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

#formulario-mascota {
  display: flex;
  flex-direction: column;
  font-size: large;
  padding: 20px;
  border-radius: 5px 5px 5px 5px;
  background-color: #fff;
  margin-left: 20px;
  margin-right: 20px;
}

#formulario-mascota h1 {
  color: var(--color-primary);
  margin-bottom: 10px;
}

#formulario-mascota input,
textarea,
select {
  margin-bottom: 10px;
  font-size: medium;
}

#formulario-mascota textarea {
  resize: vertical;
  height: 250px;
}

.formulario-editar * {
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin-bottom: 8px;
  font-family: Arial, Helvetica, sans-serif;
}

.formulario-editar p {
  margin: 0;
  justify-content: initial;
  display: flex;
}

.formulario-editar textarea {
  resize: none;
  height: 130px;
  font-size: 14px;
  width: 100%;
}

#display-de-mascota {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#carta-mascota {
  width: 100%;
  margin: 20px;
  height: 380px;
  background: #f8f8f8;
  border-radius: 4px 4px 4px 4px;
}

#carta-mascota-nueva {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px;
  height: 380px;
  background: rgb(228, 228, 228);
  border-radius: 8px 8px 8px 8px;
}

.boton-adoptar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #292929;
  height: 13%;
  border-radius: 0px 0px 8px 8px;
  margin: 0;
  color: #f5f5f5;
  cursor: pointer;
  font-size: large;
  transition: background-color 0.2s, font-size 0.4s;
}

.boton-adoptar:hover {
  background-color: var(--color-primary);
  font-size: x-large;
}

/* */

/* MODAL */
.modal {
  opacity: 0;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  animation: fadeIn 0.2s ease 0.2s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal-content {
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: max-content;
  overflow: auto;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: gray;
  cursor: pointer;
}

/* */

/* FORMULARIO ADOPCION */
#formulario-adopcion {
  margin-top: 50px;
}

#formulario-adopcion select {
  max-width: 200px;
}

#formulario-adopcion * {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 20px;
}

#formulario-adopcion h1 {
  text-align: center;
  font-family: "Pacifico", cursive;
  font-size: clamp(3rem, -5.3vw + 5.3rem, 2rem);
  color: var(--color-primary);
}

#formulario-adopcion p {
  line-height: 18px;
}

#formulario-adopcion h3 {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}

#formulario-adopcion label {
  font-size: medium;
  width: 100%;
}

#formulario-adopcion input {
  font-size: medium;
  border: none;
  border-bottom: solid 1px rgb(0, 0, 0);
}

#formulario-adopcion textarea {
  resize: none;
  height: 300px;
  width: 100%;
  font-size: medium;
}

/* */

/* INFORMACION ADOPCION */
.info-adopcion .col svg:hover {
  color: var(--color-primary);
}

/* REGISTRO ADOPCIONES */
#container-adopciones {
  padding-top: 70px;
}

#container-adopciones p {
  font-family: Arial, Helvetica, sans-serif;
}

.container-registros {
  background-color: #f5f5f5;
  width: 100%;
  padding-top: 0;
  height: min-content;
  padding-bottom: 35px;
}

.fila-datos {
  border-radius: 5px 5px 0 0;
  text-align: left;
  background-color: #ffcc4e;
  font-weight: 600;
  color: #f5f5f5;
  padding-top: 10px;
  padding-bottom: 10px;
}

.fila-registro {
  text-align: left;
  border-bottom: solid 1px #c9c9c954;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: small;
}

.fila-registro:hover {
  background-color: #ececec82;
}

.container-wrap-datos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 12px;
}

#resgitro-adoptados-cargando {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  */

/* INICIO UB */
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

#container-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-image: url("./assets/banner1.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 150px));
}

.contenido-banner {
  display: inline-grid;
}

.contenido-banner * {
  margin-bottom: 10px;
  font-family: "Questrial";
}

.contenido-banner h1 {
  font-size: clamp(2rem, 16vw - 6rem, 4rem);
  border: solid 6px #292929;
  padding: 26px;
  backdrop-filter: blur(11px) saturate(180%);
  -webkit-backdrop-filter: blur(11px) saturate(180%);
  background-color: rgba(73, 73, 73, 0.192);
  border: 4px solid rgba(0, 0, 0, 0.889);
}

.contenido-banner p {
  font-size: clamp(1rem, 4.3vw - 0.9rem, 1.8rem);
  font-family: "Courier Prime", monospace;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3.5s steps(40, end);
  max-width: fit-content;
}
.contenido-banner span {
  font-size: x-large;
  font-weight: bolder;
  color: transparent;
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    colori: transparent;
  }

  50% {
    color: var(--color-accent);
  }
}

.container-mision {
  height: max-content;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
}

.container-mision h1 {
  color: #00dcac;
  font-family: "Pacifico", cursive;
  font-size: clamp(1.8rem, 6.4vw - 1rem, 3rem);
  text-align: center;
  padding-bottom: 20px;
}

.container-mision p {
  line-height: 28px;
  font-size: clamp(1.1rem, 2.1vw + 0.2rem, 1.5rem);
  font-family: "Questrial", sans-serif;
  text-align: center;
  color: #292929;
}

#mural-adoptados {
  height: max-content;
}

.mural-adoptados h1 {
  font-size: clamp(2rem, 10.7vw - 1.7rem, 5rem);
  line-height: 70px;
  text-align: center;
  color: #292929;
  margin-top: 40px;
}

.mural-adoptados img {
  width: clamp(10rem, 26.7vw - 1.7rem, 15rem);
  height: clamp(10rem, 26.7vw - 1.7rem, 15rem);
  object-fit: cover;
  object-position: top;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.mural-adoptados img:hover {
  transform: scale(1.2);
  box-shadow: 0px 13px 19px -5px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 13px 19px -5px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 13px 19px -5px rgba(0, 0, 0, 1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  position: relative;
  z-index: 9;
}

/* */

/* BOTONERA DE ACCIONES */
#botonera-de-acciones,
a {
  height: max-content;
  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botonera-de-acciones-content .row {
  height: 40vh;
  gap: 20px;
  height: max-content;
}

.botonera-de-acciones-content .col {
  height: 220px;
  text-transform: uppercase;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  border-radius: 12px;
  border: solid 7px var(--color-accent);
  transition: box-shadow 0.2s, border 0.2s;
  box-shadow: 200px 200px 400px 200px rgba(0, 0, 0, 0.718) inset;
  -webkit-box-shadow: 200px 200px 400px 200px rgba(0, 0, 0, 0.718) inset;
  -moz-box-shadow: 200px 200px 400px 200px rgba(0, 0, 0, 0.718) inset;
}

.botonera-de-acciones-content .col:hover {
  border: solid 7px #20d9b1;
  box-shadow: 200px 200px 400px 200px rgba(0, 0, 0, 0.459) inset;
  -webkit-box-shadow: 200px 200px 400px 200px rgba(0, 0, 0, 0.459) inset;
  -moz-box-shadow: 200px 200px 400px 200px rgba(0, 0, 0, 0.459) inset;
}

.botonera-de-acciones-content .col:active {
  box-shadow: 200px 200px 400px 200px rgba(0, 0, 0, 0.56) inset;
  -webkit-box-shadow: 200px 200px 400px 200px rgba(0, 0, 0, 0.56) inset;
  -moz-box-shadow: 200px 200px 400px 200px rgba(0, 0, 0, 0.56) inset;
}

.botonera-de-acciones-content a {
  text-decoration: none;
}

.botonera-de-acciones-content .col p {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/*  */

/* DONACIONES */
/*  */

/* FOOTER */
#footer {
  left: 0;
  bottom: 0;
  color: #fff;
  justify-content: center;
  background-color: #292929;
  height: max-content;
  padding-top: 20px;
}

.footer-content h3 {
  color: var(--color-primary);
}

.footer-content .col {
  margin-bottom: 20px;
}

.footer-content .col a {
  margin: 0;
  display: block;
  text-decoration: none;
  color: #fff;
}

.footer-content .col span {
  margin-bottom: 2px;
  gap: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/*  */

@media only screen and (max-width: 600px) {
  .contenido-banner p {
    white-space: normal;
    animation: none;
  }
  .mural-adoptados main > img {
    width: 40%;
  }
}
